{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h2>Change password for: <!-- Show how to get from user --></h2>
    </div>

    <div class="form">
        {{ form_start(password_form) }}
        <div class="form-group">
            {{ form_label(password_form.password) }}
            {{ form_widget(password_form.password) }}
            {{ form_errors(password_form.password) }}
        </div>
        {{ form_end(password_form) }}
        <input type="submit" value="Edit" class="btn btn-md btn-link"/>
        <a href="{{ path('admin_index') }}" class="btn btn-md btn-link">Back to the list</a>
        <input type="submit" value="Delete" class="btn btn-md btn-link">
    </div><!-- End .form -->
{% endblock %}
