{% extends 'base.html.twig' %}
{% form_theme password_form 'form/formthemeoverwrite.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h2>Change password for: {{ user.firstname }} {{ user.lastname }}<!-- Show how to get from user --></h2>
    </div>

    <div class="form">
        {{ form_start(password_form, {attr: {novalidate:"novalidate"}}) }}
        <div class="form-group">
            {{ form_label(password_form.password) }}
            {{ form_widget(password_form.password) }}
            {{ form_errors(password_form.password) }}
        </div>
        {{ form_end(password_form) }}
    </div><!-- End .form -->
    <a href="{{ path('admin_index') }}">Back to the list</a>
{% endblock %}
